.contact-form {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.08);
  padding: 80px;
}
.contact-form .form-info {
  line-height: 1.8;
  margin-bottom: 64px;
}
.contact-form .wpcf7-form > p {
  margin-bottom: 64px;
}
.contact-form .wpcf7-form > p:nth-last-of-type(2) {
  margin-bottom: 32px;
}
.contact-form .wpcf7-form > p:last-of-type {
  margin-bottom: 0;
}
.contact-form .wpcf7-form > p label {
  font-size: 20px;
  font-weight: bold;
}
.contact-form .wpcf7-form > p label span {
  font-size: 16px;
  margin-top: 8px;
}
.contact-form .wpcf7-form .wpcf7-list-item {
  margin: 0;
}
.contact-form .wpcf7-form .wpcf7-form-control-wrap {
  display: block;
  margin: 12px 0 0;
}
.contact-form .wpcf7-form .wpcf7-form-control-wrap input,
.contact-form .wpcf7-form .wpcf7-form-control-wrap textarea {
  border: 2px solid #dcdee4;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}
.contact-form .wpcf7-form .wpcf7-form-control-wrap .wpcf7-text {
  max-width: 800px;
  height: 40px;
  padding: 8px;
}
.contact-form .wpcf7-form .wpcf7-form-control-wrap .wpcf7-textarea {
  padding: 8px;
  max-width: 1040px;
  width: 100% !important;
}
.contact-form .wpcf7-form .wpcf7-form-control-wrap input.check {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px 0 0;
}
.contact-form .wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item-label {
  font-size: 16px;
  margin: 0;
}
.contact-form .wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item-label span {
  margin-top: 0;
}
.contact-form .wpcf7-form .label-status {
  display: inline-block;
  border-radius: 4px;
  background-color: #95bae0;
  color: #fff;
  font-size: 16px;
  padding: 4px 16px;
  margin-left: 24px;
}
.contact-form .wpcf7-form .label-status.required {
  background-color: #ef476f;
}
.contact-form .wpcf7-form .wpcf7-acceptance label {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.contact-form .wpcf7-form .wpcf7-submit {
  background-color: #fff;
  background-image: linear-gradient(90deg, #000 50%, transparent 50%);
  background-position: 100%;
  background-size: 250%;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 100px;
  display: grid;
  place-items: center;
  font-weight: bold;
  width: 240px;
  height: 64px;
  transition: 1s all;
}
.contact-form .wpcf7-form .wpcf7-submit:hover {
  background-position: 0;
  color: #fff;
}
.contact-form .wpcf7-form .wpcf7-submit:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  transition: none;
}
.contact-form .wpcf7-form .wpcf7-submit:disabled:hover {
  background-position: 100%;
  color: rgba(0, 0, 0, 0.3);
}
.contact-form .wpcf7-form span.wpcf7-spinner,
.contact-form .wpcf7-form .wpcf7-response-output,
.contact-form .wpcf7-form .wpcf7-response-output,
.contact-form .wpcf7-form .wpcf7-response-output {
  display: none;
}

@media (max-width: 1199px) {
  .contact-form {
    padding: 80px 40px;
  }
}
@media (max-width: 699px) {
  .contact-form {
    border-radius: 24px;
    padding: 40px 16px;
  }
  .contact-form .form-info {
    margin-bottom: 40px;
  }
  .contact-form .wpcf7-form > p {
    margin-bottom: 40px;
  }
  .contact-form .wpcf7-form > p label {
    font-size: 16px;
  }
  .contact-form .wpcf7-form > p .label-status {
    font-size: 14px;
    margin-left: 16px;
  }
}/*# sourceMappingURL=contact.css.map */