// 円が回転して中央に行き消えるアニメーション
$circle-count: 3;
$circle-radius: 80px;

@function calc-angle($percentage, $startAngle) {
  @return $percentage * 3.6deg + $startAngle;
}

@mixin create-keyframe($percentage, $startAngle) {
  #{$percentage}% {
    transform: translate(
        calc(
          (#{$circle-radius} * cos(#{calc-angle($percentage, $startAngle)})) *
            (100 - $percentage) / 100
        ),
        calc(
          (#{$circle-radius} * sin(#{calc-angle($percentage, $startAngle)})) *
            (100 - $percentage) / 100
        )
      )
      rotate(calc-angle($percentage, $startAngle));
  }
}

@mixin create-circle-animation($index) {
  @keyframes orbit#{$index} {
    @for $i from 0 to 100 {
      @include create-keyframe($i, $index * 120deg);
    }
    100% {
      transform: translate(0, 0) rotate(0);
    }
  }
}

@keyframes circle-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@for $i from 1 to $circle-count + 1 {
  .circle:nth-child(#{$i}) {
    animation: orbit#{$i} 1s linear, circle-hide 0.3s linear 1s forwards;
  }
  @include create-circle-animation($i);
}
// / 円が回転して中央に行き消えるアニメーション

// アイコンが出てくるアニメーション
@keyframes icon-show {
  0% {
    transform: scale(0.8, 1) translate(0, 0);
    opacity: 0;
  }
  15% {
    transform: scale(0.9, 1) translate(0, -20px);
  }
  30% {
    transform: scale(1, 1) translate(0, -16px);
  }
  50% {
    transform: scale(1, 0.9) translate(0, -12px);
  }
  100% {
    transform: scale(1, 1) translate(0, -20px);
  }
  30%,
  100% {
    opacity: 1;
  }
}

.icon-group {
  animation: icon-show 0.8s linear 1.3s forwards;
}
// / アイコンが出てくるアニメーション
